<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario">
<head>

<title>Gerar relatório de serviços</title>
</head>

<section layout:fragment="conteudo">

<h3 style="text-align: center;">Escolha o mês e o ano para a geração do relatório de serviços</h3>
	<div class="clearfix">	
		<form method="GET" action="/gereteci/relatoriomensal">
			<div class="col-lg-3">
   				 <div class="input-group">
   				 <span>Escolha o mês</span>
     				 	<select class="form-control" name="mes">
 						 	<option value="01">Janeiro</option>
 						 	<option value="02">Fevereiro</option>
 						 	<option value="03">Março</option>
 						 	<option value="04">Abril</option>
 						 	<option value="05">Maio</option>
 						 	<option value="06">Junho</option>
 						 	<option value="07">Julho</option>
  						 	<option value="08">Agosto</option>
 						 	<option value="09">Setembro</option>
 						 	<option value="10">Outubro</option>
 						 	<option value="11">Novembro</option>
 						 	<option value="12">Dezembro</option>
						</select>
					 </div>
					  <br/>
					 <div class="input-group">
					 <span>Escolha o ano</span>
					<select class="form-control" name="ano">
 						 <option value="2016">2016</option>
 						 <option value="2016">2017</option>
 						 <option value="2016">2018</option>
 						 <option value="2016">2019</option>
 						 <option value="2016">2020</option>
 						 <option value="2016">2021</option>
					</select>
     				 </div>
     				 <br/>
     				 <div class="input-group">
    				  <span class="input-group-btn">
       					 <button class="btn btn-default" type="submit">Gerar</button>
      				</span>
   				</div>
 			 </div>
 			  
 			</form>
		</div>

</section>
</html>