<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario">
<head>

<title>Relatório de serviços mensal</title>
</head>

<section layout:fragment="conteudo">
<center><h2>Companhia de Transportes do Estado da Bahia</h2></center>
<center><h2>Tecnologia da Informação - TECI</h2></center>
<center><h3>Relatório de serviços prestados - GERETECI</h3></center>

<h4>Mês de referência: <span th:text="${mes_relatorio}"></span></h4>
<h4>Ano de referência: <span th:text="${ano_relatorio}"></span></h4>

<div class="left" style="float:left; padding:10px;">
<p><b>Total de serviços prestados no mês: </b><span th:text="${n_total}"></span> </p>
<table class="table table-bordered table-striped" th:object="${relatorio}">
 <tr>
  <td>
  <p><o:p>&nbsp;</o:p></p>
  </td>
  <td>
  <p>Manutenção</p>
  </td>
  <td>
  <p>Internet</p>
  </td>
  <td>
  <p >Rede</p>
  </td>
  <td >
  <p >Telefone</p>
  </td>
  <td>
  <p>E-mail</p>
  </td>
 </tr>
 <tr>
  <td >
  <p >Aberto</p>
  </td>
  <td>
  <p th:text="${n_servicos_abertos_manutencao}"></p>
  </td>
  <td>
  <p th:text="${n_servicos_abertos_internet}"></p>
  </td>
  <td >
<p th:text="${n_servicos_abertos_rede}"></p>
  </td>
  <td >
  <p th:text="${n_servicos_abertos_telefone}"></p>
  </td>
  <td>
  <p th:text="${n_servicos_abertos_email}"></p>
  </td>
 </tr>
 <tr >
  <td>
  <p>Em andamento</p>
  </td>
  <td>
  <p th:text="${n_servicos_andamento_manutencao}"></p>
  </td>
  <td >
  <p th:text="${n_servicos_andamento_internet}"></p>
  </td>
  <td >
<p th:text="${n_servicos_andamento_rede}"></p>
  </td>
  <td >
  <p th:text="${n_servicos_andamento_telefone}"></p>
  </td>
  <td >
  <p th:text="${n_servicos_andamento_email}"></p>
  </td>
 </tr>
 <tr>
  <td>
  <p>Resolvido</p>
  </td>
  <td>
  <p th:text="${n_servicos_fechados_manutencao}"></p>
  </td>
  <td>
 <p th:text="${n_servicos_fechados_internet}"></p>
  </td>
  <td >
  <p th:text="${n_servicos_fechados_rede}"></p>
  </td>
  <td><p th:text="${n_servicos_fechados_telefone}"></p></td>
  <td >
  <p th:text="${n_servicos_fechados_email}"></p>
  </td>
 </tr>
 <tr>
  <td>
  <p>Total</p>
  </td>
  <td>
  <p><o:p><div th:text="${n_manutencao}"></div> </o:p></p>
  </td>
  <td>
  <p><o:p><div th:text="${n_internet}"></div></o:p></p>
  </td>
  <td >
  <p ><o:p><div th:text="${n_redes}"></div></o:p></p>
  </td>
  <td><p><o:p><div th:text="${n_telefone}"></div></o:p></p>
  </td>
  <td >
  <p ><o:p><div th:text="${n_email}"></div></o:p></p>
  </td>
 </tr>
</table>
<br/>


<p>Serviços em aberto</p>
<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Categoria</th>
				<!-- <th class="text-center col-md-2">Arquitetura</th> -->
				<th class="text-center col-md-2">Data de Ocorrência</th>
				<th class="text-center col-md-2">Usuário Solicitante</th>
				<!--  <th class="text-center col-md-2">ID de Impressão</th> -->
				<th class="text-center col-md-2">Usuário Atendente</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Descricão do problema</th>				
				
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_gerais_abertos}">
					<td class="text-center" th:text="${servico} ? ${servico.categoria}"></td>
					<!--   <td class="text-center" th:text="${computador.arquitetura.arquitetura}"></td> -->
					<td class="text-center" th:text="${servico} ? ${servico.data_ocorrencia}"></td>

					<td class="text-center" th:text="${servico} and ${servico.solicitado} ? ${servico.solicitado.nome}:'Ninguém'"></td>
					<td class="text-center" th:text="${servico} and ${servico.atendente} ? ${servico.atendente.nome}: 'Ninguém'"></td>
					<td class="text-center" th:text="${servico} and ${servico.solicitado} and ${servico.solicitado.setor} ? ${servico.solicitado.setor.nome}:'Sem setor'"></td>
					<!-- <td class="text-center" th:text="${computador.id_impressao}"></td> -->
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_gerais_abertos)}">Nenhum serviço em aberto encontrado</td>
			</tr>
			</tbody>
		
		</table>
		<br/>
		<br/>
		<p>Serviços em andamento</p>
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Categoria</th>
				<!-- <th class="text-center col-md-2">Arquitetura</th> -->
				<th class="text-center col-md-2">Data de Ocorrência</th>
				<th class="text-center col-md-2">Usuário Solicitante</th>
				<!--  <th class="text-center col-md-2">ID de Impressão</th> -->
				<th class="text-center col-md-2">Usuário Atendente</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Descricão do problema</th>				
				
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_gerais_andamento}">
					<td class="text-center" th:text="${servico} ? ${servico.categoria}"></td>
					<!--   <td class="text-center" th:text="${computador.arquitetura.arquitetura}"></td> -->
					<td class="text-center" th:text="${servico} ? ${servico.data_ocorrencia}"></td>

					<td class="text-center" th:text="${servico} and ${servico.solicitado} ? ${servico.solicitado.nome}:'Ninguém'"></td>
					<td class="text-center" th:text="${servico} and ${servico.atendente} ? ${servico.atendente.nome}: 'Ninguém'"></td>
					<td class="text-center" th:text="${servico} and ${servico.solicitado} and ${servico.solicitado.setor} ? ${servico.solicitado.setor.nome}:'Sem setor'"></td>
					<!-- <td class="text-center" th:text="${computador.id_impressao}"></td> -->
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_gerais_andamento)}">Nenhum serviço em andamento encontrado</td>
			</tr>
			</tbody>
		
		</table>
	<br/>
	<br/>	
	<p>Serviços em que houve visita da OI: <span th:text="${n_servicos_visita_oi}"></span></p>
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Data de Abertura</th>
				<!-- <th class="text-center col-md-2">Arquitetura</th> -->
				<th class="text-center col-md-2">Data de Encerramento</th>
				<th class="text-center col-md-2">Nome do Visitante</th>
				<!--  <th class="text-center col-md-2">ID de Impressão</th> -->
				<th class="text-center col-md-2">Protocolo OI</th>
				<th class="text-center col-md-2">Descrição do problema</th>
				<th class="text-center col-md-2">Solução adotada</th>				
				
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${svisita_oi}">
					<td class="text-center" th:text="${servico} ? ${servico.data_ocorrencia}"></td>
					<!--   <td class="text-center" th:text="${computador.arquitetura.arquitetura}"></td> -->
					<td class="text-center" th:text="${servico} and ${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>

					<td class="text-center" th:text="${servico} and ${servico.nome_tecnico} ? ${servico.solicitado.nome}:'Ninguém'"></td>
					<td class="text-center" th:text="${servico.protocolo_servico}"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<!-- <td class="text-center" th:text="${computador.id_impressao}"></td> -->
					<td class="text-center" th:text="${servico.descircao_solucao} ? ${servico.descricao_solucao}: 'Não informado'"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(svisita_oi)}">Nenhum serviço em andamento encontrado</td>
			</tr>
			</tbody>
		
		</table>
		<br/>
		<br/>
 

					

<p>Serviços em que houve abertura de RDS: <span th:text="${n_servicos_rds}"></span></p>

<p>Serviços de Internet</p>
<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Data de Abertura</th>
				<!-- <th class="text-center col-md-2">Arquitetura</th> -->
				<th class="text-center col-md-2">Data de Encerramento</th>
				<th class="text-center col-md-2">Número da RDS</th>
				<!--  <th class="text-center col-md-2">ID de Impressão</th> -->
				<th class="text-center col-md-2">Data de abertura(RDS)</th>
				<th class="text-center col-md-2">Descrição do problema</th>
				<th class="text-center col-md-2">Solução adotada</th>				
				
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${saberturards}">
					<td class="text-center" th:text="${servico} ? ${servico.data_ocorrencia}"></td>
					<!--   <td class="text-center" th:text="${computador.arquitetura.arquitetura}"></td> -->
					<td class="text-center" th:text="${servico} and ${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'" ></td>
					<td class="text-center" th:text="${servico.numero_rds}"></td>
					<td class="text-center" th:text="${servico.data_rds}"></td>
					<!-- <td class="text-center" th:text="${computador.id_impressao}"></td> -->
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao} ? ${servico.descricao_solucao}: 'Não informado'"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(saberturards)}">Nenhum serviço em andamento encontrado</td>
			</tr>
			</tbody>
		
		</table>
	<br/>
	<br/>
	<p>Serviços de Email</p>
	<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Data de Abertura</th>
				<!-- <th class="text-center col-md-2">Arquitetura</th> -->
				<th class="text-center col-md-2">Data de Encerramento</th>
				<th class="text-center col-md-2">Número da RDS</th>
				<!--  <th class="text-center col-md-2">ID de Impressão</th> -->
				<th class="text-center col-md-2">Data de abertura(RDS)</th>
				<th class="text-center col-md-2">Descrição do problema</th>
				<th class="text-center col-md-2">Solução adotada</th>				
				
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${semailaberturards}">
					<td class="text-center" th:text="${servico} ? ${servico.data_ocorrencia}"></td>
					<!--   <td class="text-center" th:text="${computador.arquitetura.arquitetura}"></td> -->
					<td class="text-center" th:text="${servico} and ${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.numero_rds}"></td>
					<td class="text-center" th:text="${servico.data_rds}"></td>
					<!-- <td class="text-center" th:text="${computador.id_impressao}"></td> -->
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(semailaberturards)}">Nenhum serviço em andamento encontrado</td>
			</tr>
			</tbody>
		
		</table>
	<br/>
	<br/>
	
	<p>Relatório por funcionário</p>

<h3><p>Ariana Souza:</p></h3>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Total de serviços prestados</th>
				<th class="text-center col-md-2">Serviços em abertos</th>
				<th class="text-center col-md-2">Serviços em andamento</th>
				<th class="text-center col-md-2">Serviços fechados</th>
				
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td th:text="${n_ariana_abertos} + ${n_ariana_andamento} + ${n_ariana_fechados}"></td>
					<td th:text="${n_ariana_abertos}"></td>
					<td th:text="${n_ariana_andamento}"></td>
					<td th:text="${n_ariana_fechados}"></td>				
				</tr>
			</tbody>
		
		</table>
		<br/>
		<br/>
		

<p>Serviços de Manutenção:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_ariana_manutencao}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla} : 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome} : 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_ariana_manutencao)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Internet:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_ariana_internet}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla} : 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome} : 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_ariana_internet)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Rede:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_ariana_rede}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla} : 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome} : 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_ariana_rede)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>
		
		
<h3><p>Uiran Passos:</p></h3>
<table class="table table-bordered table-striped">
<thead>
				<tr>
				
				<th class="text-center col-md-2">Total de serviços prestados</th>
				<th class="text-center col-md-2">Serviços em abertos</th>
				<th class="text-center col-md-2">Serviços em andamento</th>
				<th class="text-center col-md-2">Serviços fechados</th>
				
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td th:text="${n_uiran_abertos} + ${n_uiran_andamento} + ${n_uiran_fechados}"></td>
					<td th:text="${n_uiran_abertos}"></td>
					<td th:text="${n_uiran_andamento}"></td>
					<td th:text="${n_uiran_fechados}"></td>				
				</tr>
			</tbody>
		
		</table>
		<br/>
		

		<p>Serviços de Manutenção:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_uiran_manutencao}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_uiran_manutencao)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Internet:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_uiran_internet}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_uiran_internet)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Rede:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_uiran_rede}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_uiran_rede)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>
	
	<br/>
	<br/>
	
		<h3><p>Jean Carvalho:</p></h3>
		
		<table class="table table-bordered table-striped">
<thead>
				<tr>
				
				<th class="text-center col-md-2">Total de serviços prestados</th>
				<th class="text-center col-md-2">Serviços em abertos</th>
				<th class="text-center col-md-2">Serviços em andamento</th>
				<th class="text-center col-md-2">Serviços fechados</th>
				
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td th:text="${n_jean_abertos} + ${n_jean_andamento} + ${n_jean_fechados}"></td>
					<td th:text="${n_jean_abertos}"></td>
					<td th:text="${n_jean_andamento}"></td>
					<td th:text="${n_jean_fechados}"></td>				
				</tr>
			</tbody>
		
		</table>		
		<br/>
		
		
	
	<p>Serviços de Manutenção:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_jean_manutencao}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_jean_manutencao)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Internet:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_jean_internet}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_jean_internet)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Rede:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_jean_rede}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_jean_rede)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>
		
		<p>Serviços de E-mail:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_jean_email}">
					<td class="text-center" th:text="${servico.data_ocorrencia} "></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_jean_email)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>
		
		<br/>
	<br/>
	
	
		<h3><p>Romeu Oliveira:</p></h3>
		
		<table class="table table-bordered table-striped">
<thead>
				<tr>
				
				<th class="text-center col-md-2">Total de serviços prestados</th>
				<th class="text-center col-md-2">Serviços em abertos</th>
				<th class="text-center col-md-2">Serviços em andamento</th>
				<th class="text-center col-md-2">Serviços fechados</th>
				
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td th:text="${n_romeu_abertos} + ${n_romeu_andamento} + ${n_romeu_fechados}"></td>
					<td th:text="${n_romeu_abertos}"></td>
					<td th:text="${n_romeu_andamento}"></td>
					<td th:text="${n_romeu_fechados}"></td>				
				</tr>
			</tbody>
		
		</table>		
		<br/>
	<br/>
	
	<p>Serviços de Manutenção:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_romeu_manutencao}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_romeu_manutencao)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Internet:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_romeu_internet}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_romeu_internet)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>

<p>Serviços de Rede:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_romeu_rede}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_romeu_rede)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>
		
		<p>Serviços de E-mail:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_romeu_email}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_romeu_email)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>
		
			<p>Serviços de Telefone:</p>

<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Data de finalização</th>
				<th class="text-center col-md-2">Setor</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-1">Descrição do Problema</th>
				<th class="text-center col-md-1">Solução adotada</th>
				<th class="text-center col-md-2">Status</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos_romeu_telefone}">
					<td class="text-center" th:text="${servico.data_ocorrencia}"></td>
					<td class="text-center" th:text="${servico.data_encerramento} ? ${servico.data_encerramento}: 'Não finalizado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.setor.sigla}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome}: 'Não informado'"></td>
					<td class="text-center" th:text="${servico.descricao_problema}"></td>
					<td class="text-center" th:text="${servico.descricao_solucao}"></td>
					<td class="text-center" th:text="${servico.status}"></td>
					
				</tr>
				
			  <tr>
				<td colspan="6" th:if="${#lists.isEmpty(servicos_romeu_telefone)}">Nenhum Serviço cadastrado</td>
			</tr> 
			</tbody>
		
		</table>
		
		<br />
		<br />
		
		
		
	<h3>Office 365</h3>
<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Contas criadas:</th>
				<!-- <th class="text-center col-md-2">Arquitetura</th> -->
				<th class="text-center col-md-2">Contas com alterações de dados:</th>
				<th class="text-center col-md-2">Contas excluídas</th>
				<!--  <th class="text-center col-md-2">ID de Impressão</th> -->
				<th class="text-center col-md-2">Senhas trocadas</th>
				<th class="text-center col-md-2">Mundança de planos</th>
				
				
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td class="text-center" th:text="${n_contas_criadas}"></td>
					<!--   <td class="text-center" th:text="${computador.arquitetura.arquitetura}"></td> -->
					<td class="text-center" th:text="${n_contas_editadas}"></td>

					<td class="text-center" th:text="${n_contas_excluidas}"></td>
					<td class="text-center" th:text="${n_contas_senhas_trocadas}"></td>
					<td class="text-center" th:text="${n_contas_mudanca_planos}"></td>
					<!-- <td class="text-center" th:text="${computador.id_impressao}"></td> -->
					
				</tr>
			</tbody>
		
		</table>
		
			<br/>
	<br/>
		<p>Descrição das contas criadas</p>
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Usuário Solicitante</th>
				<th class="text-center col-md-2">Conta</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="conta : ${contas_criadas}">
					<td class="text-center" th:text="${conta.solicitado.nome} "></td>
					<td class="text-center" th:text="${conta.conta}"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(contas_criadas)}">Nenhuma conta criada até o momento</td>
			</tr>
			</tbody>
		
		</table>
		<br/>
	<br/>
	<p>Descrição das contas excluídas</p>
	<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Usuário Solicitante</th>
				<th class="text-center col-md-2">Conta</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="conta : ${contas_excluidas}">
					<td class="text-center" th:text="${conta.solicitado.nome} "></td>
					<td class="text-center" th:text="${conta.conta}"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(contas_excluidas)}">Nenhuma conta excluída até o momento</td>
			</tr>
			</tbody>
		
		</table>
		<br/>
	<br/>
	<p>Descrição das contas cuja senha foi alterada</p>
	<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Usuário Solicitante</th>
				<th class="text-center col-md-2">Conta</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="conta : ${contas_senha_trocada}">
					<td class="text-center" th:text="${conta.solicitado.nome} "></td>
					<td class="text-center" th:text="${conta.conta}"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(contas_senha_trocada)}">Nenhuma conta alterou a senha até o momento</td>
			</tr>
			</tbody>
		
		</table>
		<br/>
	<br/>
	<p>Descrição das contas cujo plano foi alterado</p>
	<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Usuário Solicitante</th>
				<th class="text-center col-md-2">Conta</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="conta : ${contas_mudanca_plano}">
					<td class="text-center" th:text="${conta.solicitado.nome} "></td>
					<td class="text-center" th:text="${conta.conta}"></td>
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(contas_mudanca_plano)}">Nenhuma contamudou de plano até o momento</td>
			</tr>
			</tbody>
		
		</table>
		<br/>
	<br/>
	

	
</div>


</section>
</html>