<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
</head>

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img src="http://www.ctb.ba.gov.br/themes/admindireta/images/logo-ctb.png"/>
				
			</a>
		</div>
		
	</div>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GereTECI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/gereteci/computadores">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/gereteci/usuarios">Usuarios</a></li>
        <li><a href="/gereteci/computadores">Computadores</a></li>
        <li><a href="/gereteci/setores">Setores</a></li>
       <li><div class="dropdown servicos-button"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Recurso
    <span class="caret"></span>
  	</button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
       <li><a href="/gereteci/monitores/">Monitor</a></li>
    <li><a href="/gereteci/mouses/">Mouse</a></li>
    <li><a href="/gereteci/teclados/">Teclado</a></li>
    <li><a href="/gereteci/caixas/">Caixa de Som</a></li>
    <li><a href="/gereteci/midias/">Dispositivo de armazenamento</a></li>
    <li><a href="/gereteci/outros/">Outros</a></li>
       </ul>
       </div>
       </li>
        <li><a href="/gereteci/impressoras">Impressoras</a></li>
        <li><a href="/gereteci/licencas">Licenças</a></li>
        <li><a href="/gereteci/licencasoffice">Licenças Office 365</a></li>
       
       <li><div class="dropdown servicos-button">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Servicos
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   
    <li><a href="/gereteci/servicosmanutencao">Manutenção</a></li>
   		 <li><a href="/gereteci/servicosinternet">Internet</a></li>
   		 <li><a href="/gereteci/servicosrede">Rede</a></li>
   		 <li><a href="/gereteci/servicostelefone">Telefone</a></li>
   		 <li><a href="/gereteci/servicosemail">E-mail</a></li>
   		 
    
  </ul>
</div>
       
       </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</nav>



</html>