<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>
<title>Pesquisa de Setores</title>
</head>

<section layout:fragment="conteudo">
<div layout:include="/mensagem/MensagemUsuario"></div>

<div class="panel panel-default">
		
		<div class="panel-heading">
		<div class="clearfix">	
			
			<a th:if="${home_teci}" class="btn btn-link aw-link-panel" href="/gereteci/setores/novo">Novo setor</a>
		</div>
		</div>
		<div class="panel-body">
		
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Nome</th>
				<th class="text-center col-md-2">Sigla</th>
				<th class="text-center col-md-2">Responsável</th>
				<th class="text-center col-md-2">Telefone</th>
				<th class="text-center col-md-2">Email</th>
				<th th:if="${home_teci}" class="text-center col-md-2">Ação</th>
				
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="setor : ${setores}">
					<td class="text-center" th:text="${setor.nome}"></td>
					<td class="text-center" th:text="${setor.sigla}"></td>
					<td class="text-center" th:text="${setor.responsavel} ? ${setor.responsavel.nome}"></td>
					<td class="text-center" th:text="${setor.responsavel} ? ${setor.responsavel.telefone}"></td>
					<td class="text-center" th:text="${setor.responsavel} ? ${setor.responsavel.email}"></td>
					<td th:if="${home_teci}" class="text-center"><a class="btn btn-link btn-xs" th:href="@{/gereteci/setores/{id_setor}(id_setor=${setor.id_setor})}" ><span class="glyphicon glyphicon-pencil" ></span></a><a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModalSetor" th:attr="data-id_setor=${setor.id_setor}, data-nome=${setor.nome}"><span class="glyphicon glyphicon-remove"></span></a></td>
					
				</tr>
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(setores)}">Nenhum setor encontrado</td>
			</tr>
			</tbody>
		
		</table>
		</div>
		
		<div layout:include="/dialogos/DialogoConfirmacaoExclusaoSetor"></div>
	</div>	
</section>

</html>