<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>

<title>Cadastro de Computadores</title>
</head>

<section layout:fragment="conteudo">
<form class="form-horizontal" method="POST" action="/computadores/{id_computador}/salvar2" th:object="${computador}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
		<div layout:include="/mensagem/MensagemErro"></div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Editando Computador</h1>
		
		</div>
		</div>
	
	
	<div class="panel-body">
	<div class="boxes">
	<input type="hidden" th:field="*{id_computador}" />
		<table class="table table-bordered table-striped">
		<tr th:each="impressora: ${impressorasComputador}">
			<td class="text-center" th:text="${impressora.patrimonio}"></td>
			<td class="text-center" th:text="${impressora.marca}"></td>
			<td class="text-center" th:text="${impressora.ip}"></td>
		</tr>
		</table>
		<div class="form-group">
		<label for="" class="col-sm-2 control-label">Impressora(s) Escolhida(s):</label>
			<div class="col-sm-6">
				<p th:each="impressora : ${todasImpressorasComputador}" th:text="${impressora.marca} + ' - ' + ${impressora.ip} + ' - ' +${impressora.patrimonio}"></p>
			</div>
		</div>
		
		<div class="form-group">
		<label for="" class="col-sm-2 control-label">Impressora(s) Disponívei(s):</label>
			<div class="col-sm-6">
				<select class="form-control enable-impressoras-pc-lista" name="impressoras" multiple="multiple" disabled="disabled">
					<option th:each="impressora : ${todasImpressorasComputador}" th:value="${{impressora.id_impressora}}" th:text="${impressora.marca} + ' - ' + ${impressora.ip} + ' - ' +${impressora.patrimonio}"></option>
				</select>
				<div><input type="checkbox" class ="enable-impressoras-pc-check"/>Mudar impressoras</div>
			</div>
		</div>
	
		<div class="form-group">
		<label for="" class="col-sm-2 control-label">Monitor Escolhido:</label>
			<div class="col-sm-6">
				<p th:text="${computador.recurso_monitor1.descricao}"></p>
			</div>
		</div>
		
			<div class="form-group">
		<label for="" class="col-sm-2 control-label">Monitor(es) Disponivel(eis):</label>
			<div class="col-sm-6">
				<select class="form-control enable-monitor-pc-lista" name="recurso_monitor1" disabled="disabled">
					<option th:each="recurso : ${todosMonitoresDisponiveis}" th:value="${recurso.id_recurso}" th:text="${recurso.descricao} + ' - ' + ${recurso.marca} + ' - ' + ${recurso.patrimonio}"></option>
				</select>
				<div><input type="checkbox" class ="enable-monitor-pc-check"/>Mudar monitor</div>
			</div>
		</div>
		
		 <div class="form-group">
		<label for="" class="col-sm-2 control-label">Teclado Escolhido:</label>
			<div class="col-sm-6">
				<p th:text="${computador.recurso_teclado.patrimonio}"></p>
			</div>
			<div class="col-sm-6">
				<p th:text="${computador.recurso_teclado.descricao}"></p>
			</div>
						
		</div>
		  <div class="form-group">
		<label for="" class="col-sm-2 control-label">Teclado(s) Disponívei(s):</label>
			<div class="col-sm-6">
			  	<select class="form-control enable-teclado-pc-lista" name="recurso_teclado" disabled="disabled">
					<option th:each="recurso : ${todosTecladosDisponiveis}" th:value="${recurso.id_recurso}" th:text="${recurso.descricao} + ' - ' + ${recurso.marca} + ' - ' +${recurso.patrimonio}"></option>
				</select>
				<div><input type="checkbox" class ="enable-teclado-pc-check"/>Mudar teclado</div>
			</div>
		</div>
		
		 <div class="form-group">
		<label for="" class="col-sm-2 control-label">Mouse Escolhido:</label>
			<div class="col-sm-6">
				<p th:text="${computador.recurso_mouse.patrimonio}"></p>
				<p th:text="${computador.recurso_mouse.descricao}"></p>
			</div>
		</div>
		
		<div class="form-group">
		<label for="" class="col-sm-2 control-label">Mouse(s) Disponível(is):</label>
			<div class="col-sm-6">
				<select class="form-control enable-mouse-pc-lista" name="recurso_mouse" disabled="disabled">
					<option th:each="recurso : ${todosMousesDisponiveis}" th:value="${recurso.id_recurso}" th:text="${recurso.descricao} + ' - ' + ${recurso.marca} + ' - ' + ${recurso.patrimonio}"></option>
				</select>
				<div><input type="checkbox" class ="enable-mouse-pc-check"/>Mudar mouse</div>
			</div>
		</div>
		
		 <div class="form-group">
		<label for="" class="col-sm-2 control-label">Caixa de Som escolhida:</label>
			<div class="col-sm-6">
				<p th:text="${computador.recurso_caixa.patrimonio}"></p>
				<p th:text="${computador.recurso_caixa.descricao}"></p>
			</div>
		</div>
		
		<div class="form-group">
		<label for="" class="col-sm-2 control-label">Caixas de Som Disponível(is):</label>
			<div class="col-sm-6">
				<select class="form-control enable-caixas-pc-lista" name="recurso_caixa" disabled="disabled">
					<option th:each="recurso : ${todasCSDisponiveis}" th:value="${recurso.id_recurso}" th:text="${recurso.descricao} + ' - ' + ${recurso.marca} + ' - ' + ${recurso.patrimonio}"></option>
				</select>
				<div><input type="checkbox" class ="enable-caixas-pc-check"/>Mudar caixas</div>
			</div>
		</div>
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		</div>
		
	</div>	
	</div>
</form>
</section>
</html>