<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>

<title>Edição de mouse</title>
</head>

<section layout:fragment="conteudo">

<form class="form-horizontal" method="POST" action="/teclados/{id_recurso}/salvar1" th:object="${teclado}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
		<div layout:include="/mensagem/MensagemErro"></div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Novo Teclado</h1>
		<a class="btn btn-link aw-link-panel" href="/teclados">Voltar para pesquisa</a>
		</div>
		</div>
		
<div class="panel-body">
	<input type="hidden" th:field="*{id_recurso}" />
		<div class="form-group" >
			<label for="patrimonio" class="col-sm-2 control-label" >Patrimonio:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control disable-patrimonio-impressora-input" id="patimonio" name="patrimonio" th:field="*{patrimonio}"/>
				 <div class="col-sm-6">
				    <div class="input-group" style="margin-left:-10px">
				        <input class="disable-patrimonio-impressora-botao" type="checkbox"> Sem patrimônio</input>
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
			</div>
		</div>
			<div class="form-group">
			<label for="marca" class="col-sm-2 control-label">Marca:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="marca" name="marca" th:field="*{marca}" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="marca" class="col-sm-2 control-label">Descrição:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="descricao" name="descricao" th:field="*{descricao}" />
			</div>
		</div>
			
		<div class="form-group">
			<label for="polegadas" class="col-sm-2 control-label">Tipo de teclado:</label>
			<div class="col-sm-6">
				<select class="form-control" name="tipo_teclado">
					<option th:each="tipos : ${todosTiposTeclado}" th:value="${tipos}" th:text="${tipos.tipo}" th:selected="${rec} ? ${rec.tipo_teclado.tipo} == ${tipos.tipo}"></option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="polegadas" class="col-sm-2 control-label">Cor:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="cor" name="cor" th:field="*{cor}" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="polegadas" class="col-sm-2 control-label">Possui funções?</label>
			<div class="col-sm-2">
				<input type="checkbox" id="funcoes" name="funcoes" th:value="'true'" th:text="'Sim'" th:checked="${teclado.funcoes}"/>
				<input type="checkbox" id="funcoes" name="funcoes" th:value="'false'" th:text="'Não'" th:checked="!${teclado.funcoes}"/>
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Situação:</label>
			<div class="col-sm-6">
				<select class="form-control" name="status">
					<option th:each="status : ${todosStatusTeclado}" th:value="${status}" th:text="${status.status}" th:selected="${rec} ? ${rec.status.status} == ${status.status}"></option>
				</select>
			</div>
		</div>
	
		
		<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
	</div>
	</div>
	</form>
</section>
</html>