<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>

<title>Edição de computador</title>
</head>

<section layout:fragment="conteudo">


	<h2>O que você gostaria de fazer?</h2>
	<ul>
		<a target="_blank" th:href="@{/gereteci/computadores/{id_computador}/editar1(id_computador=${computador.id_computador})}"><li>Apenas editar informações</li></a>
		<a target="_blank" th:href="@{/gereteci/computadores/{id_computador}/editar2(id_computador=${computador.id_computador})}"><li>Mudar recursos do computador</li></a>
		<a target="_blank" th:href="@{/gereteci/computadores/{id_computador}/editar3(id_computador=${computador.id_computador})}"><li>Mudar usuários do computador</li></a>
		<a target="_blank" th:href="@{/gereteci/computadores/{id_computador}/editar4(id_computador=${computador.id_computador})}"><li>Mudar data de Backup</li></a>
		<a target="_blank" th:href="@{/gereteci/computadores/{id_computador}/editar5(id_computador=${computador.id_computador})}"><li>Mudar data de Formatação</li></a>
	
	</ul>

</section>
</html>