<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>

<title>Edição de computador</title>
</head>

<section layout:fragment="conteudo">
<div class="modal fade" id= "PopUPComputador" tabindex="-1">
	<h1>O que você gostaria de fazer?</h1>

	<ul>
		<li>Apenas editar informações</li>
		<li>Mudar recursos do computador</li>
		<li>Mudar usuários do computador</li>
	</ul>
</div>
</section>
</html>