<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>

<title>Cadastro de Usuários</title>
</head>

<section layout:fragment="conteudo">
<form class="form-horizontal" method="POST" action="/gereteci/impressoras" th:object="${impressora}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
		<div layout:include="/mensagem/MensagemErro"></div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Nova Impressora</h1>
		<a class="btn btn-link aw-link-panel" href="/gereteci/impressoras">Voltar para pesquisa</a>
		</div>
		</div>
	
	
	<div class="panel-body">
	<input type="hidden" th:field="*{id_impressora}" />
		<div class="form-group" th:classappend="${#fields.hasErrors('patrimonio')} ? has-error">
			<label for="patrimonio" class="col-sm-2 control-label" >Patrimonio:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control disable-patrimonio-impressora-input" id="patimonio" name="patrimonio" th:field="*{patrimonio}"/>
				 <div class="col-sm-6">
				    <div class="input-group" style="margin-left:-10px">
				        <input class="disable-patrimonio-impressora-botao" type="checkbox"> Sem patrimônio</input>
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
			</div>
		</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('marca')} ? has-error">
			<label for="marca" class="col-sm-2 control-label">Marca:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="marca" name="marca" th:field="*{marca}" />
			</div>
		</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('ip')} ? has-error">
			<label for="ip" class="col-sm-2 control-label">IP:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control disable-ip-impressora-input" id="ip" name="ip" th:field="*{ip}"/>
				  <div class="input-group" style="margin-left:5px">
				        <input class="disable-ip-impressora-botao" type="checkbox"/> Sem IP
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
			</div>
		
		
			<div class="form-group">
			<label for="mascara" class="col-sm-2 control-label">Mascara:</label>
			<div class="col-sm-6">
				<select class="form-control" name="mascara">
					<option th:each="mascara : ${todasMascarasImpressora}" th:value="${mascara}" th:text="${mascara.mascara}" th:selected="${print} ? ${print.mascara.mascara} == ${mascara.mascara}"></option>
				</select>
			</div>
		</div>
		
			<div class="form-group">
			<label for="gateway" class="col-sm-2 control-label">Gateway:</label>
			<div class="col-sm-6">
				<select class="form-control" name="gateway">
					<option th:each="gateway : ${todosGatewaysImpressora}" th:value="${gateway}" th:text="${gateway.gateway}" th:selected="${print} ? ${print.gateway.gateway} == ${gateway.gateway}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="dns_preferencial" class="col-sm-2 control-label">Dns Preferencial:</label>
			<div class="col-sm-6">
				<select class="form-control" name="dns_preferencial">
					<option th:each="dns_preferencial : ${todosDNSPImpressora}" th:value="${dns_preferencial}" th:text="${dns_preferencial.dns_preferencial}" th:selected="${print} ? ${print.dns_preferencial.dns_preferencial} == ${dns_preferencial.dns_preferencial}"></option>
				</select>
			</div>
		</div>
		
			<div class="form-group">
			<label for="dns_alternativo" class="col-sm-2 control-label">Dns Alternativo:</label>
			<div class="col-sm-6">
				<select class="form-control" name="dns_alternativo">
					<option th:each="dns_alternativo : ${todosDNSAImpressora}" th:value="${dns_alternativo}" th:text="${dns_alternativo.dns_alternativo}" th:selected="${print} ? ${print.dns_alternativo.dns_alternativo} == ${dns_alternativo.dns_alternativo}"></option>
				</select>
			</div>
		</div>
			
		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Situação:</label>
			<div class="col-sm-6">
				<select class="form-control" name="status">
					<option th:each="status : ${todosStatusImpressora}" th:value="${status}" th:text="${status.status}" th:selected="${print} ? ${print.status.status} == ${status.status}"></option>
				</select>
			</div>
		</div>
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
	</div>
	</div>
</form>
</section>
</html>