<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>

<title>Cadastro de Recursos</title>
</head>

<section layout:fragment="conteudo">
<form class="form-horizontal" method="POST" action="/recursos" th:object="${recurso}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
		<div layout:include="/mensagem/MensagemErro"></div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Novo Recurso</h1>
		<a class="btn btn-link aw-link-panel" href="/recursos">Voltar para pesquisa</a>
		</div>
		</div>
	
	
	<div class="panel-body">
	<input type="hidden" th:field="*{id_recurso}" />
		<div class="form-group" th:classappend="${#fields.hasErrors('patrimonio')} ? has-error">
			<label for="patrimonio" class="col-sm-2 control-label" >Patrimônio:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control disable-patrimonio-input" id="patrimonio" name="patrimonio" th:field="*{patrimonio}"  th:attr="data-role=${recurso.id_recurso}"/>
			
			
				<div class="row">
  <div class="col-sm-6">
    <div class="input-group" style="margin-left:5px">
        <input type="checkbox" class="disable-patrimonio-botao"> Sem patrimônio</input>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </div>
			
			
			
			</div>
		</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
			<label for="descricao" class="col-sm-2 control-label">Descrição:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="descricao" name="descricao" th:field="*{descricao}" />
			</div>
		</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('marca')} ? has-error">
			<label for="marca" class="col-sm-2 control-label">Marca:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="marca" name="marca" th:field="*{marca}"/>
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="computador_id_computador" class="col-sm-2 control-label">Computador:</label>
			<div class="col-sm-2">
				<select class="form-control disable-computador-input" name="computador_id_computador">
					<option class="disable-computador-option" th:each="computador : ${todosComputadoresRecurso}" th:value="${computador.id_computador}" th:text="${computador.patrimonio}" th:selected="${rec} and ${rec.computador} ? ${rec.computador.patrimonio} == ${computador.patrimonio}"></option>
				</select>
				
				<div class="row">
  <div class="col-sm-6">
    <div class="input-group" style="margin-left:5px; width:200px;">
        <input type="checkbox" class="disable-computador-botao" th:attr="data-id_computador=${recurso.computador} ? ${recurso.computador.id_computador}" th:href="@{/recursos/{id_recurso}/sem_computador(id_recurso=${recurso.id_recurso})}"> Recurso sem computador</input>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </div>
  
			</div>
		</div>
		
		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Situação:</label>
			<div class="col-sm-6">
				<select class="form-control" name="status">
					<option th:each="status : ${todosStatusRecurso}" th:value="${status}" th:text="${status.status}" th:selected="${rec} ? ${rec.status.status} == ${status.status}"></option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="categoria" class="col-sm-2 control-label">Categoria:</label>
			<div class="col-sm-2">
				<select class="form-control" name="categoria">
					<option th:each="categoria : ${todasCategoriasRecurso}" th:value="${categoria}" th:text="${categoria.categoria}" th:selected="${rec} ? ${rec.categoria.categoria} == ${categoria.categoria}"></option>
				</select>
			</div>
		</div>
		
		
			<div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
	</div>
	</div>
</form>
</section>
</html>