<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/LayoutPadraoUsuario" >
<head>

<title>Cadastro de Usuários</title>
</head>

<section layout:fragment="conteudo">
<form class="form-horizontal" method="POST" action="/setores" th:object="${setor}">
		<div layout:include="/mensagem/MensagemUsuario"></div>
		<div layout:include="/mensagem/MensagemErro"></div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title">Novo Setor</h1>
		<a class="btn btn-link aw-link-panel" href="/setores">Voltar para pesquisa</a>
		</div>
		</div>
	
	
	<div class="panel-body">
	<input type="hidden" th:field="*{id_setor}" />
		<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
			<label for="nome" class="col-sm-2 control-label" >Nome do setor:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}"/>
			</div>
		</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('sigla')} ? has-error">
			<label for="sigla" class="col-sm-2 control-label">Sigla do setor:</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="sigla" name="sigla" th:field="*{sigla}" />
			</div>
		</div>
			
	<div class="form-group">
			<label for="responsavel" class="col-sm-2 control-label">Responsável:</label>
			<div class="col-sm-2">
				<select class="form-control disable-responsavel-setor-input" name="responsavel">
					<option th:each="responsavel : ${todosResponsaveisSetor}" th:value="${responsavel.id_usuario}" th:text="${responsavel.nome}" th:selected="${set} and ${set.responsavel} ? ${set.responsavel.id_usuario} == ${responsavel.id_usuario}" ></option>
				</select>
				<div class="input-group">
				        <input type="checkbox" class ="disable-responsavel-setor-botao"/> Sem responsável  	
				    </div><!-- /input-group -->
			</div>
		</div>
		
			  <div class="form-group">
     		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</div>
		
		
	</div>
	</div>
</form>
</section>
</html>