<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8"/>
<title>GereTECI - Sistema de Gerenciamento da TECI </title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<header layout:include="layout/Cabecalho"></header>

<body>



<div class="container-fluid">


<h3>Seja bem vindo usuario <span th:text="${nome_user}"></span></h3>

<br/>

<div th:if="!${home_teci}">
<table class="table  table-hover">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Total de requisições solicitadas</th>
				<th class="text-center col-md-2">Requisições em aberto</th>
				<th class="text-center col-md-2">Requisições em andamento</th>
				<th class="text-center col-md-2">Requisições concluídos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center" th:text="${requisicoes_total}"></td>
					<td class="text-center" th:text="${requisicoes_abertas}"></td>
					<td class="text-center" th:text="${requisicoes_andamento}"></td>
					<td class="text-center" th:text="${requisicoes_fechadas}"></td>
				
				</tr>
			</tbody>
		
		</table>
</div>
<div th:if="${home_teci}">
<br/>Informações gerais

<table class="table  table-hover">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Total de serviços prestados</th>
				<th class="text-center col-md-2">Serviços em aberto</th>
				<th class="text-center col-md-2">Serviços em andamento</th>
				<th class="text-center col-md-2">Serviços concluídos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center" th:text="${servicos_total}"></td>
					<td class="text-center" th:text="${servicos_abertos}"></td>
					<td class="text-center" th:text="${servicos_andamento}"></td>
					<td class="text-center" th:text="${servicos_concluidos}"></td>
				
				</tr>
			</tbody>
		
		</table>
Requisições Não atendidas

<table class="table  table-hover" style="color:red">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Protocolo</th>
				<th class="text-center col-md-2">Solicitante</th>
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Descrição</th>
				<th class="text-center col-md-2">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="requisicao : ${requisicoes_nao_atendidas}">
					<td class="text-center" th:text="${requisicao.protocolo}"></td>
					<td class="text-center" th:text="${requisicao.requisitante.nome}"></td>
					<td class="text-center" th:text="${#dates.format(requisicao.data_abertura, 'dd/MM/yyyy')}"></td>
					<td class="text-center" th:text="${requisicao.problema}"></td>
					<td class="text-center"> <a th:href="@{/gereteci/requisicoes/gerar_atendimento/{id_requisicao}(id_requisicao=${requisicao.id_requisicao})}">Atender</a></td>
				
				</tr>
			</tbody>
		
		</table>
		
		
		
		
		10 Últimos serviços em aberto
		<table class="table  table-hover">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Protocolo</th>
				<th class="text-center col-md-2">Usuário / Setor</th>
				<th class="text-center col-md-2">Tipo de serviço</th>
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Requisicao</th>
				</tr>
			</thead>
			<tbody>
			
			 <tr th:each="servico : ${ultimos_servicos_abertos}">
					<td class="text-center" th:text="${servico.protocolo}"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome} + '-' + ${servico.solicitado.setor.nome} : 'Não informado'"></td>
						<td class="text-center"  th:text="${servico.categoria}"></td>
						<td class="text-center" th:text="${#dates.format(servico.data_ocorrencia, 'dd/MM/yyyy')}"></td>
						<td class="text-center">Sem ainda</td>
				</tr>		
				<!--  </tr> -->
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(ultimos_servicos_abertos)}"><div style="text-align:center">Nenhum serviço encontrado</div></td>
			</tr>
			</tbody>
		
		
		</table>
		
		10 Últimos serviços em andamento
		<table class="table  table-hover">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Protocolo</th>
				<th class="text-center col-md-2">Usuário / Setor</th>
				<th class="text-center col-md-2">Tipo de serviço</th>
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Requisicao</th>
				</tr>
			</thead>
			<tbody>
			
				<!-- <tr th:each="contrato : ${contratosgeridos}"> -->
					 <tr th:each="servico : ${ultimos_servicos_andamento}">
					<td class="text-center" th:text="${servico.protocolo}"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome} + '-' + ${servico.solicitado.setor.sigla} : 'Não informado'"></td>
						<td class="text-center"  th:text="${servico.categoria}"></td>
						<td class="text-center" th:text="${#dates.format(servico.data_ocorrencia, 'dd/MM/yyyy')}"></td>
						<td class="text-center">Sem ainda</td>
					
				</tr>		
				<!--  </tr> -->
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(ultimos_servicos_andamento)}"><div style="text-align:center">Nenhum contrato encontrado</div></td>
			</tr>
			</tbody>
		
		
		</table>
		
		10 Últimos serviços em concluídos
		<table class="table  table-hover">
		
			<thead>
				<tr>
				<th class="text-center col-md-2">Protocolo</th>
				<th class="text-center col-md-2">Usuário / Setor</th>
				<th class="text-center col-md-2">Tipo de serviço</th>
				<th class="text-center col-md-2">Data de abertura</th>
				<th class="text-center col-md-2">Requisicao</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="servico : ${ultimos_servicos_concluidos}">
					<td class="text-center" th:text="${servico.protocolo}"></td>
					<td class="text-center" th:text="${servico.solicitado} ? ${servico.solicitado.nome} + '-' + ${servico.solicitado.setor.sigla} : 'Não Informado'"  ></td>
						<td class="text-center"  th:text="${servico.categoria}"></td>
						<td class="text-center" th:text="${#dates.format(servico.data_ocorrencia, 'dd/MM/yyyy')}"></td>
						<td class="text-center">Sem ainda</td>						
				</tr>		
				<!--  </tr> -->
				
			<tr>
				<td colspan="6" th:if="${#lists.isEmpty(ultimos_servicos_concluidos)}"><div style="text-align:center">Nenhum contrato encontrado</div></td>
			</tr>
			
			</tbody>
		
		
		</table>
		</div>


</div>

<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/gereteci.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/js/detalhes.js"></script>


</body>
</html>